
.aboutHeader {
    background-image: url(../assets/contact-header-1.jpg);
    @include headerStyleChildPage;
}

.aboutIntroduction {
    text-align: center;
}

.aboutIntroduction, .historyAccordion{
    @include marginSectionSmall;
}

.contactAboutPage {
    background-color: $quinary;
    padding: 5% 0;
}

.aboutHeader h2 {
    margin-bottom: 2%;
}

.aboutHeader h3 {
    margin-bottom: 2%;
}

//a lot of styling coming from standard button global styles
.accordion  {
   transition: 0.2s;
}

//add to mobile
// .accordion button{
//     width: 100%;
// }

//active becomes important when hovered
.active, .accordion:hover {
    background-color: $secondary;
}

.panel {
    padding: 0 18px;
    background-color: $quinary;
    display: none;
    overflow: hidden;
}



//Social Media and Contact Info

.contactBottomAbout {
    display: flex;
    justify-content: space-between;
}