
// header nav styling

.navigation {
    display: flex;
    justify-content: center;
    
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.homeAbout, .blogContact {
    text-transform: uppercase;
}

.navigation li a {
    padding: 4px 32px;
}

.logo {
    font-family: $headingFont;
    font-size: 68px;
}


// footer styling
footer {
    background-color: $senary;
    text-align: center;
}

/* getting rid of the whitespace around the footer & adding some space (padding) */
footer p {
    margin: 0;
    padding: 10px 0;
}

// applying global designs
body {
    background-color: $quaternary;
    color: $primary;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

h2, h3, h4, p, li {
    margin: 0;
}

button {
    background-color: $secondary;
    font-family: $headingFont;
    color: $primary;
    padding: 0 35px;
    border: none;
    display: inline-block;
}



