
// header nav styling

.navigation {
    display: flex;
    justify-content: center;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
}

.homeAbout, .blogContact {
    text-transform: uppercase;
}

.navigation li a {
    padding: 4px 32px;
}

.logo {
    font-family: $headingFont;
    font-size: 68px;
}

//Link style in navigation (class changes in HTML)
.currentNavLink {
    color: $tertiary;
}

// Styling accessibility skip link
.skipLink {
    position: absolute;
    left:-1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skipLink:focus {
    left:0;
}


// footer styling
footer {
    background-color: $senary;
    text-align: center;
}

/* getting rid of the whitespace around the footer & adding some space (padding) */
footer p {
    margin: 0;
    padding: 10px 0;
}

// applying global designs 

//(see 'typography' for font global styling on fonts & text elements)

body {
    background-color: $quaternary;
    color: $primary;
}

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}



h3, h4, li {
    margin: 0;
}

button {
    background-color: $secondary;
    font-family: $headingFont;
    color: $primary;
    padding: 0 35px;
    border: none;
    display: inline-block;
}





