// ====================
// Header Styling Start
//=====================
.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blogHeader h2 {
    font-size: 6rem; //aligns better with brief
}




// ====================
// Header Styling End
//=====================