// ====================
// Header Styling Start
//=====================
.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blogHeader h2 {
    font-size: 6rem; //aligns better with brief
}

// ====================
// Header Styling End
//=====================

// =======================
// Body of Page - styling aside and blogs to sit beside one another in desktop
// =======================

.mainContent {
    display:flex;
}

// ====================
// Aside Styling Start
//=====================

aside {
    flex-shrink: 0;
    width: 40%;
    margin-top: 9%;
    padding-right: 7%;
}

aside img {
    max-width: 94%;
    box-shadow: 35px 8px 0px -8px $quinary;
}

.missionContainer {
    background-color: $quinary;
    margin-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.ourMission p {
    margin-top: 0;
    //to fix ths space the textCTA is causing (line height had no effect)
    margin-bottom: -5%;
}

.textCTA {
    color: $tertiary;
}

.recentPosts ul {
    margin-left: .5rem;
}

.recentPosts li {
    margin: 0px;
    line-height: 2.188rem;
    //default line height did not match brief well
}

.recentPosts li::before {
    content: "•";
    color: $secondary;
    display: inline-block;
    width: 1rem;
    //existing font has bizarre vertical dash bullet, so this had to be changed to match the brief
    font-family: Arial, Helvetica, sans-serif; 
    font-size:large;
}

// ====================
// Aside Styling End
//=====================


// ====================
// Blog Styling Start
//=====================

.blogEntry {
    margin-top: -20%;
}

.blogImage {
    box-shadow: -18px 18px 0px -5px $tertiary;
}

.liveComments, .formContainer, ,
.profileAndDescriptionBlog{
    @include marginSectionSmall;
}

.orangeBorder {
    border-bottom: 5px solid $tertiary;
    box-shadow: -13px 0px 0px 0px $tertiary;
}
.blogText {
    box-shadow: -16px 7px 0px -6px $quaternary;
    padding-top: 7%;
    padding-bottom: 7%;
}
// ====================
// Blog Styling End
//=====================


// ====================
// Comments Styling Start
//=====================

.profileAndDescriptionBlog ul {
    display: flex;
}

.profileImage {
    margin-right: 15px;
    padding: 10px;
    flex-basis: 20rem;
}

.description h4 {
    line-height: 1.5rem;
}

// ====================
// Comments Styling End
//=====================