// ====================
// Header Styling Start
//=====================
.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blogHeader h2 {
    font-size: 6rem; //aligns better with brief
}



.mainContent {
    display:flex;
}

aside {
    flex-shrink: 0;
    width: 35%;
    margin-top: 9%;
    padding-right: 7%;
}

.blogEntry {
    margin-top: -20%;
}

.blogImage {
    box-shadow: -18px 18px 0px -5px $tertiary;
}

.liveComments, .formContainer, .profileAndDescriptionBlog {
    @include marginSectionSmall;
}

.orangeBorder {
    border-bottom: 5px solid $tertiary;
    box-shadow: -13px 0px 0px 0px $tertiary;
}
.blogText {
    box-shadow: -16px 7px 0px -6px $quaternary;
    padding-top: 7%;
    padding-bottom: 7%;
}












// ====================
// Header Styling End
//=====================