// ====================
// Header Styling Start
//=====================

.homepageHeader {
  background-image: url(../assets/home-image-1.jpg);
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainHeader {
  position: relative;
}

.textArea {
  z-index: 20;
  position: absolute;
  top: 10rem;
  left: 31rem;
}

.textArea h2 {
  margin: 10% 0px 10% 2%;
  // TRBL
}

.mainHeader img {
  position: absolute;
  bottom: -42rem;
  right: 0;
  width: 50%;
}

// ====================
// Header Styling End
//=====================

// ============================================
// Two Column Two Row Description Styling Start
//=============================================

.twoColumnTwoRowDesc {
  @include marginSectionLarge;
}

.iconAndDescriptionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iconAndDescriptionHomepg {
  width: calc(50% - (10px + 15px + 15px));
  margin: 15px;
}

// styling each segment of icon + title + description
// FLAG FOR MIXIN
.iconAndDescriptionHomepg ul {
  display: flex;
}

// FLAG FOR MIXIN (will need to remove)
.icon {
  background-color: $secondary;
  font-size: 26px;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
}

// ============================================
// Two Column Two Row Description Styling END
//=============================================

// ============================================
// Reservations & Locations Styling Start
//=============================================

.planAheadNewLocations {
  background-color: $quinary;
  @include marginSectionLarge;
}

.twoColumnTwoRowContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.twoColumnTwoRowContainer img {
  width: calc(40% - 40px);
}

.twoColumnTwoRowContainer div {
  width: calc(37% - 40px);
}

.newLocations p,
.planAhead p {
  @include pPadding;
}

// to mimic wrapper and align with images
.planAhead {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
}

// to mimic wrapper and align with images
.newLocations {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  text-align: right;
}

.marginImageUp {
  margin-top: -70px;
  box-shadow: 5px 12px 0px 2px $tertiary;
  align-self: flex-start;
}

.marginImagedown {
  margin-bottom: -70px;
  @include shadowLeft;
}

// ============================================
// Reservations & Locations Styling End
//=============================================

// ============================================
// Want to Host a Party Start
//=============================================

.hostPartyCTA {
  @include marginSectionSmall;
}

.wantToHostAParty {
  text-align: center;
}

.wantToHostAParty h3 {
  color: $tertiary;
}

.wantToHostAParty p {
  @include pPadding;
}

// ============================================
// Want to Host a Party End
//=============================================

// ============================================
// Full bleed image Start
//=============================================

.fullBleedImage {
  background-image: url(../assets/banner-image.jpg);
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}

// ============================================
// Full bleed image End
//=============================================

// ============================================
// Events Start
//=============================================

.events {
  @include marginSectionSmall;
}

.eventsContainer {
  display: flex;
  align-items: flex-start;
}

.eventsContainer img {
  @include shadowLeft;
}

.eventDescriptionCTA {
  margin-left: 10%;
}

.eventDescriptionCTA h3 {
  color: $tertiary;
}

.eventDescriptionCTA p {
  @include pPadding;
}

// ============================================
// Events End
//=============================================

// ============================================
// Gallery Start
//=============================================

.galleryHomepage {
  margin: 0%;
  padding: 8% 0px;
  background-color: $quinary;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery li {
  flex-basis: calc(32% - 10px);
}

// ============================================
// Gallery End
//=============================================
