
//Link style in navigation
.homeNavLink {
    color: $tertiary;
}

// ====================
// Header Styling Start
//=====================

header {
    background-image: url(../assets/home-image-1.jpg);
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainHeader {
    position: relative;
}

.textArea {
    z-index: 20;
    position: absolute;
    top: 10rem;
    left: 31rem;
}

.mainHeader img{
    position: absolute;
    bottom: -41rem;
    right: 0;
    width: 50%;
}

// ====================
// Header Styling End
//=====================

// ============================================
// Two Column Two Row Description Styling Start
//=============================================

.iconAndDescriptionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iconAndDescriptionHomepg {
    width: calc(50% - (10px + 15px + 15px));
    margin: 15px;
}

// styling each segment of icon + title + description
// FLAG FOR MIXIN
.iconAndDescriptionHomepg ul {
    display:flex;
}

// FLAG FOR MIXIN (will need to remove)
.icon {
    background-color: $secondary;
    margin-right: 15px;
    font-size: 26px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
}

// ============================================
// Two Column Two Row Description Styling END
//=============================================


// ============================================
// Reservations & Locations Styling Start
//=============================================

.planAheadNewLocations {
    background-color: $quinary;
    min-height: 500px;
    
}

.twoColumnTwoRowContainer {
    display: flex;
    flex-wrap: wrap;
    
    // position: relative;
    
}

.twoColumnTwoRowContainer img, .twoColumnTwoRowContainer div{
    width: calc(50% - 30px);
    margin-top: -50px;
}

.twoColumnTwoRowContainer img {
    // position: absolute;
    // right: 0;
}