
@media (max-width: 940px) {

    // re-styling header 
    .textArea {
        left: 15rem;
    }
    
    .mainHeader img {
        position: absolute;
        bottom: -40rem;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .navigation li a {
        padding: 2px 10px;
    }
    
    .logo {
        font-size: 50px;
    }
    
    .homeAbout,
    .blogContact {
        font-size: 35px;
    }

    // re-styling header 
    .textArea {
        top: 10rem;
        left: 5rem;
    }
    
    .mainHeader img {
        bottom: -38rem;
        right: 0;
    }
}


// must be responsive to 320px; changed from 480 breakpoint to account for h2 behavior
@media (max-width: 507px) {

    //re-styling navigation
    .navigation li a {
        padding: 2px 5px;
    }
    
    .logo {
        font-size: 40px;
    }
    
    .homeAbout,
    .blogContact {
        font-size: 25px;
    }

    // re-styling header 

    

    .textArea {
        top: 10rem;
        left: 7%;
    }

    .textArea h1 {
        font-size: 10rem;
    }
    
    .mainHeader img {
        bottom: -40rem;
        right: 0;
    }
    
}