@media (max-width: 940px) {
  //***********************************************
  //HOMEPAGE STYLING START 940px
  //***********************************************

  // re-styling header
  .textArea {
    left: 15rem;
  }

  .mainHeader img {
    position: absolute;
    bottom: -40rem;
    width: 60%;
  }

  //========================
  // Plan Ahead (Reservations) & New Locations (Locations)
  // =======================

  .twoColumnTwoRowContainer img {
    width: calc(50% - 40px);
  }

  // =======================
  // Full bleed image Start
  // =======================

  .fullBleedImage {
    min-height: 200px;
    background-size: cover;
  }

  // =======================
  // Full bleed image End
  //========================

  //***********************************************
  //HOMEPAGE STYLING END 940px
  //***********************************************

  //***********************************************
  //BLOG PAGE STYLING START 940px
  //***********************************************

  // =======================
  // Aside (Our Mission) styling Start
  //========================

  aside {
    padding-right: 0px;
  }

  .blogAside img {
    box-shadow: 74px 8px 0px -8px $quinary;
  }

  .missionContainer {
    padding-bottom: 3.125rem;
    margin-right: -3rem;
  }

  .recentPosts ul li {
    font-size: 1.875rem;
  }

  // =======================
  // Aside (Our Mission) styling End
  //========================
}

@media (max-width: 768px) {
  //***********************************************
  //GLOBAL STYLING START 768px
  //***********************************************

  .navigation li a {
    padding: 2px 10px;
  }

  .logo {
    font-size: 50px;
  }

  //***********************************************
  //GLOBAL STYLING END 768px
  //***********************************************

  //***********************************************
  //HOMEPAGE STYLING START 768px
  //***********************************************

  // re-styling header
  .textArea {
    top: 10rem;
    left: 5rem;
  }

  .mainHeader img {
    bottom: -40rem;
    right: 0;
  }

  //=======================
  // Plan Ahead (Reservations) & New Locations (Locations)
  //========================

  .twoColumnTwoRowContainer img {
    width: calc(60% - 40px);
  }

  // ======================
  // Events Start
  //=======================

  .eventsContainer {
    flex-direction: column;
  }

  .eventDescriptionCTA {
    margin-left: 0;
  }

  .eventsContainer img {
    margin-bottom: 5%;
  }

  //***********************************************
  //HOMEPAGE STYLING END 768px
  //***********************************************

  //***********************************************
  //BLOG PAGE STYLING START 768px
  //***********************************************

  // =======================
  // Body of Page styling Start
  //========================

  .mainContent {
    flex-direction: column;
  }

  // =======================
  // Aside (Our Mission) & Blog styling Start
  //========================

  .blogAside {
    width: 100%;
    margin-top: 0px;
    padding: 7% 0;
    display: flex;
    align-items: center;
    background-color: $quinary;
  }

  .blogAside img {
    width: 60%;
  }

  .missionContainer {
    padding-bottom: 3.125rem;
  }

  .blogEntry {
    margin-top: 0px;
  }

  // =======================
  // Aside (Our Mission) & Blog styling End
  //========================

  //***********************************************
  //BLOG PAGE STYLING END 768px
  //***********************************************

  //***********************************************
  //CONTACT PAGE STYLING START 768px
  //***********************************************

  // ====================
  // Container Styling Start
  //=====================

  .socialAndContactForm {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  // ====================
  // Container Styling End
  //=====================

  // ====================
  // Aside Styling Start
  //=====================

  .contactAside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7%;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
  }

  .emailContactAside {
    margin: 5%;
  }

  // ====================
  // Aside Styling End
  //=====================

  // ====================
  // Form Styling End
  //=====================

  .contactForm {
    margin-top: 0;
  }

  // ====================
  // Form Styling End
  //=====================

  //***********************************************
  //CONTACT PAGE STYLING END 768px
  //***********************************************
}

// responsive to 320px; changed from 480 breakpoint to account for h2 behavior on homepage
@media (max-width: 507px) {
  //***********************************************
  //GLOBAL STYLING START 507px
  //***********************************************

    //===========================
    //styling hamburger navigation start
    //===========================
  
    //restyling items inside hamburger navigation

    //hamburger slide out
    .hamburger {
      position: fixed;
      z-index: 100;
      top: 1rem;
      right: 1rem;
      padding: 4px;
      cursor: pointer;
      background: none; //overriding button default colouring background
    }

        //restyling for mobile
    .navigation ul {
      flex-direction: column;
      justify-content: flex-start;
    }
    
    //ensuring logo shows first in the menu
    .logo {
      order: 1;
    }

    .homeAbout {
      order: 2;
    }

    .blogContact {
      order: 3;
    }
  
    .menu {
    
      //for hamburger
      position: fixed;
      //hide the mentu by defauly above the screen & animate the change
      transform: translateY(-100%);
      transition: transform 0.2s;
  
      //position the menu to take up the whole screen
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 90;
      background: black;
      padding-top: 4rem;
    }

  //revealing hamburger
  .hamburger {
    display: block;
  }


  //hiding close button until needed
  .closeIcon {
    display: none !important; //overriding some font awesome default inline styling
  }
  
    //added and removed from JS to show/hide menu
    .showMenu {
      transform: translateY(0);
    }
  
    //===========================
    //styling hamburger navigation end
    //===========================



  //global form restyling (impacts Contact & Blog page)
  .formContainer {
    .nameAndEmail {
      flex-direction: column;
    }

    .name {
      margin-right: 0px;
    }

    input {
      margin: 7% 0;
    }
  }

  .blogForm,
  .contactForm {
    label {
      margin-left: 0;
      line-height: 2rem;
    }
  }

  //***********************************************
  //GLOBAL STYLING END 507px
  //***********************************************

  //***********************************************
  //HOMEPAGE STYLING START 507px
  //***********************************************

  // re-styling header

  .textArea {
    top: 10rem;
    left: 7%;
  }

  .textArea h1 {
    font-size: 10rem;
  }

  .mainHeader img {
    bottom: -40rem;
    right: 0;
  }

  // ======================
  // Two Column Two Row Description Styling Start
  //=======================

  .iconAndDescriptionContainer {
    flex-direction: column;
    margin-right: 10px;
  }

  .iconAndDescriptionHomepg {
    width: 100%;
    margin: 15px;
  }

  .iconAndDescriptionHomepg ul {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    align-self: flex-start;
    font-size: 30px;
    height: 70px;
    padding: 15px;
  }

  .fileIcon {
    padding: 20px;
  }

  //=======================
  // Plan Ahead (Reservations) & New Locations (Locations)
  //=======================

  .twoColumnTwoRowContainer {
    flex-direction: column;
  }

  .twoColumnTwoRowContainer img {
    width: calc(100% - 40px);
    align-self: center;
    margin-bottom: 0px;
  }

  //removing margin styling for desktop
  .marginImageUp {
    margin-top: -30px;
  }

  .twoColumnTwoRowContainer div {
    width: 80%;
    align-self: center;
  }

  .planAhead {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
  }

  // ======================
  // Want to Host a Party Start
  //=======================

  .wantToHostAParty {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  // ===================
  // Want to Host a Party End
  //=====================

  // =====================
  // Full bleed image Start
  //=======================

  .fullBleedImage {
    background-image: url(../assets/banner-image.jpg);
    min-height: 100px;
  }

  // =====================
  // Full bleed image End
  //======================

  // =====================
  // Gallery Start
  //=====================

  .gallery {
    flex-direction: column;
  }

  .gallery li {
    margin-bottom: 15px;
  }

  // =====================
  // Gallery End
  //=====================

  //***********************************************
  //HOMEPAGE STYLING END 507px
  //***********************************************

  //***********************************************
  //BLOG PAGE STYLING START 507px
  //***********************************************

  // =======================
  // Aside (Our Mission) & Blog styling Start
  //========================

  aside {
    flex-direction: column;
    padding-top: 3.125rem;
  }

  aside img {
    width: 80%;
  }
  .missionContainer {
    margin-left: 0px;
  }

  // =======================
  // Aside (Our Mission) & Blog styling End
  //========================

  // ====================
  // Comments Styling Start
  //=====================

  .profileAndDescriptionBlog ul {
    display: flex;
    flex-direction: column;
  }

  .profileImage {
    margin-right: 0px;
    padding: 0px 0px 10px 0px;
    // TRBL
    flex-basis: 5rem;
  }

  .description h4 {
    line-height: 1.5rem;
  }

  // ====================
  // Comments Styling End
  //=====================

  //***********************************************
  //BLOG PAGE STYLING END 507px
  //***********************************************
}
