
@media (max-width: 940px) {

    //***********************************************
    //HOMEPAGE STYLING START 940px
    //***********************************************

    // re-styling header 
    .textArea {
        left: 15rem;
    }
    
    .mainHeader img {
        position: absolute;
        bottom: -40rem;
        width: 60%;
    }

    //========================
    // Plan Ahead (Reservations) & New Locations (Locations) 
    // =======================

    .twoColumnTwoRowContainer img {
        width: calc(50% - 40px);
    }

    // =======================
    // Full bleed image Start
     // =======================
    
    .fullBleedImage {
        min-height: 200px;
        background-size: cover;
    }

    // =======================
    // Full bleed image End
    //========================


    //***********************************************
    //HOMEPAGE STYLING END 940px
    //***********************************************

    //***********************************************
    //BLOG PAGE STYLING START 940px
    //***********************************************

    // =======================
    // Aside (Our Mission) styling Start 
    //========================  
    
    aside {
        padding-right: 0px;
    }
    
    aside img {
        
        box-shadow: 25px 8px 0px -8px $quinary;
    }

    .missionContainer {
        padding-bottom: 3.125rem;
    }

    // =======================
    // Aside (Our Mission) styling End 
    //========================  


}


@media (max-width: 768px) {
    .navigation li a {
        padding: 2px 10px;
    }
    
    .logo {
        font-size: 50px;
    }
    
    .homeAbout,
    .blogContact {
        font-size: 35px;
    }
    //***********************************************
    //HOMEPAGE STYLING START 768px
    //***********************************************
    
    // re-styling header 
    .textArea {
        top: 10rem;
        left: 5rem;
    }
    
    .mainHeader img {
        bottom: -42rem;
        right: 0;
    }

    //=======================
    // Plan Ahead (Reservations) & New Locations (Locations) 
    //========================

    .twoColumnTwoRowContainer img {
        width: calc(60% - 40px);
    }

    // ======================
    // Events Start
    //=======================
    
    .eventsContainer {
        flex-direction: column;
    }

    .eventDescriptionCTA {
        margin-left: 0;
    }

    .eventsContainer img {
        margin-bottom: 5%;
    }
    
    //***********************************************
    //HOMEPAGE STYLING END 768px
    //***********************************************

    //***********************************************
    //BLOG PAGE STYLING START 940px
    //***********************************************
    
    // =======================
    // Body of Page styling Start 
    //========================  

    .mainContent {
        flex-direction: column;
    }

    // =======================
    // Aside (Our Mission) & Blog styling Start 
    //========================  
    
    aside {
        width: 100%;
        margin-top: 0px;
        padding: 7% 0;
        display: flex;
        align-items: center;
        background-color: $quinary;
    }
    
    aside img {
        width: 60%;
    }
    
    .missionContainer {
        padding-bottom: 3.125rem;
    }
    

    .blogEntry {
        margin-top: 0px;
    }

    // =======================
    // Aside (Our Mission) & Blog styling End 
    //========================  


}


// must be responsive to 320px; changed from 480 breakpoint to account for h2 behavior on homepage
@media (max-width: 507px) {

    //re-styling navigation
    .navigation li a {
        padding: 2px 5px;
    }
    
    .logo {
        font-size: 40px;
    }
    
    .homeAbout,
    .blogContact {
        font-size: 25px;
    }

    //***********************************************
    //HOMEPAGE STYLING START 507px
    //***********************************************

    // re-styling header 

    .textArea {
        top: 10rem;
        left: 7%;
    }

    .textArea h1 {
        font-size: 10rem;
    }
    
    .mainHeader img {
        bottom: -40rem;
        right: 0;
    }

    // ======================
    // Two Column Two Row Description Styling Start
    //=======================

    .iconAndDescriptionContainer {
        flex-direction: column;
        margin-right: 10px;
    }
    
    .iconAndDescriptionHomepg {
        width: 100%;
        margin: 15px;
    }

    .iconAndDescriptionHomepg ul {
        flex-direction:column;
        align-items: center;
    }

    .icon {
        align-self:flex-start;
        font-size: 30px;
        height: 70px;
        padding: 10px;
    }

    //=======================
    // Plan Ahead (Reservations) & New Locations (Locations) 
    //=======================

    .twoColumnTwoRowContainer {
        flex-direction:column;
    }

    .twoColumnTwoRowContainer img {
        width: calc(100% - 40px);
        align-self: center;
        margin-bottom: 0px;
    }

    //removing margin styling for desktop
    .marginImageUp {
        margin-top: -30px;
        
        // order: 1;
    }

    .twoColumnTwoRowContainer div {
        width: 80%;
        align-self: center;
        // text-align: center;
    }



    .planAhead {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-right: 5%;

    }

   

    // ======================
    // Want to Host a Party Start
    //=======================

    .wantToHostAParty {
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    // ===================
    // Want to Host a Party End
    //=====================

    // =====================
    // Full bleed image Start
    //=======================
    
    .fullBleedImage {
        background-image: url(../assets/banner-image.jpg);
        min-height: 100px;
    }

    // =====================
    // Full bleed image End
    //======================

    // =====================
    // Gallery Start
     //=====================

    .gallery {
        flex-direction: column;
    }

    .gallery li {
        margin-bottom: 15px;
    }


    // =====================
    // Gallery End
    //=====================


    //***********************************************
    //HOMEPAGE STYLING END 507px
    //***********************************************

    //***********************************************
    //BLOG PAGE STYLING START 507px
    //***********************************************
    
    // =======================
    // Body of Page styling Start 
    //========================  

    // =======================
    // Aside (Our Mission) & Blog styling Start 
    //========================  
    
    aside {
        flex-direction: column;
        padding-top: 3.125rem;
    }
    
    aside img {
        width: 80%;
    }
    .missionContainer {
        margin-left: 0px;
    }

    // =======================
    // Aside (Our Mission) & Blog styling End 
    //========================  

}