@mixin headerStyleChildPage {
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@mixin marginSectionLarge {
  margin: 12% 0 7% 0;
  // trbl
}

@mixin marginSectionSmall {
  margin: 7% 0;
}

@mixin shadowLeft {
  box-shadow: -16px 15px 0px 2px $tertiary;
}

@mixin pPadding {
  margin: 15px 0px;
}

@mixin correctListLineHeight {
  margin: 0px;
  line-height: 2.188rem;
}
