/* site fonts */
$headingFont: 'Tulpen One';
$bodyFont: 'Chathura';
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 39px;

/* site colours */
$primary: #FFFFFF;
// rust red
$secondary: #BF2603;
//  dusty orange
$tertiary: #FF8327;
// black
$quaternary: #111010;
// dark red
$quinary: #220303;


