/* site fonts */
$headingFont: 'Tulpen One',
cursive;
$bodyFont: 'Chathura', sans-serif;
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 39px;

/* site colours */
$primary: #FFFFFF;
// rust red
$secondary: #BF2603;
//  dusty orange
$tertiary: #FF8327;
// black
$quaternary: #111010;
// dark red
$quinary: #220303;

// dark grey for footer
$senary: #191919;


